@model DocumentFlow.Models.ViewModels.User.UpdatePasswordViewModel

@{
    Layout = "_Layout";
}

<div class="mx-4">
    <h1>Изменение пароля</h1>

    <form class="form-vertical" enctype="multipart/form-data" asp-action="UpdatePassword" asp-controller="User" method="post">
        <div style="color: red" asp-validation-summary="ModelOnly"></div>
        <div class="form-group mb-4">
            <label class="control-label">Стрый пароль:</label>
            <input type="password" name="currentPassword" asp-for="CurrentPassword" class="form-control">
        </div>
        <div class="form-group mb-4">
            <label class="control-label">Новый пароль:</label>
            <input type="password" name="password" asp-for="Password" class="form-control">
        </div>
        <div class="form-group mb-4">
            <label class="control-label">Повторить пароль:</label>
            <input type="password" name="ConfirmPassword" asp-for="ConfirmPassword" class="form-control">
        </div>
        <input type="submit" value="Обновить" class="btn btn-primary ml-3 mt-3">
    </form>
</div>